.clickable {
    cursor: pointer;
    filter: contrast(130%);
}

button,
i {
    cursor: pointer;
}

.bold * {
    font-family: google-sans-bold;
    font-size: 1.1rem;
    color: black !important;
}

.border {
    border: 2px solid red;
}

.capitalize {
    text-transform: capitalize;
}

.router-link {
    text-decoration: none;
}