* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 30px;
}