@import url(./helpers.css);
@import url(./apps/mail/mail-style.css);
@import url(./apps/keep/keep-style.css);

/*  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    background-color: lightblue;
    width: 100%;
}

.app-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
}

.app-header img {
    width: 30px;
}