.search-bar {
    background-color: #f1f3f4;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    width: 30vw;
    min-width: 150px;
    max-width: 300px;
    height: 35px;
}

.search-bar>* {
    background-color: #f1f3f4;
    border: none;
    height: 100%;
}

.search-bar>input {
    padding: 10px 20px;
}

.search-bar>img {
    position: absolute;
    object-fit: contain;
    height: 40%;
    top: 30%;
    right: 1%;
}