.mail-compose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: roboto;
    width: 95%;
}

.mail-compose h4 {
    background-color: black;
    color: white;
    border-radius: 3px;
    margin: 20px 0 0 20px;
    width: 100%;
    padding: 10px;
}

.mail-compose>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    position: relative;
}

.mail-compose>form>*:not(:last-child) {
    border-radius: 3px;
    border: 1px solid black;
    border-top: unset;
    padding: 10px;
    width: 100%;
}

.mail-compose textarea {
    padding-bottom: 120px !important;
    font-family: roboto;
    font-size: 16px;
    resize: none;
}

.mail-compose .compose-buttons-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*  */
    position: absolute;
    bottom: 10px;
}

.mail-compose .compose-buttons-area>* {
    margin: 0 20px;
}

.mail-compose .compose-buttons-area button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: all .4s;
}

.mail-compose .compose-buttons-area button:hover {
    background-color: #0093ff;
}

.mail-compose .compose-buttons-area i {
    text-align: center;
    font-size: 1.8rem;
}