.mail-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    gap: 20px;
}

.mail-preview:hover {
    cursor: pointer;
    box-shadow: 0 0 6px 1px #b8b8b8f0;
    background-color: rgb(218, 218, 218);
}

.mail-preview .small-prev-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
}

.mail-preview .small-prev-container>:first-child {
    text-align: left;
    display: flex;
    gap: 80px;
    min-width: 30%;
}

.mail-preview .small-prev-container>:last-child {
    flex-grow: 1;
    color: gray;
}