.mail-side-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    width: 150px;
    gap: 20px;
}

.mail-side-bar>* {
    border-radius: 0 3em 3em 0;
    margin-left: 10px;
    padding: 5px;
}

.mail-side-bar>*:hover {
    cursor: pointer;
    background-color: lightpink;
    color: white;
}