.keep-side-bar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 150px;
    gap: 20px;
}

.keep-app .side-bar-icons {
    margin-right: 10px;
}

.keep-app .side-bar-category {
    display: flex;
    align-items: center;
}

.keep-side-bar>* {
    border-radius: 0 3em 3em 0;
    padding: 5px;
}

.keep-side-bar>*:hover {
    cursor: pointer;
    background-color: #0092ff;
    color: white;
}