.note-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.note-list-container h3 {
    align-self: start;
    margin: 5px;
}

.note-list {
    /* display: flex;
    align-items: center;
    flex-wrap: wrap; */
    column-count: 3;
    column-gap: 1.5rem;
    width: 100%;
    margin: 0 auto 2em;
    margin: 0 20px 20px 20px;
}

.note-list .note-preview .done {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}


/* .note-list .note-preview.noteVideo {
    grid-column: 1 span;
    grid-row: 1 span;
}

.note-list .note-preview.noteImg {
    grid-column: 1span;
    grid-row: 1 span;
}