.keep-app {
    display: flex;
    width: 100%;
}

.keep-app>main {
    width: 100%;
}

.keep-app i {
    font-size: 1.5rem;
}

.keep-app button {
    background-color: transparent;
    border: none;
}